.footer {
    padding: 25px 30px;
    background: $primary;
    display: grid;
    gap: 0 40px;
    grid-template-columns: 1fr auto auto;
    color: $white;
    font-size: 16px;
    // text-align: center;

    a {
        text-decoration: none;

        &:hover {
            color: $gray-light;
        }
    }

    @media(max-width: 765px) {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px 0;
    }
}