.star_wrapper {
    &:not(:last-child) svg {
        margin-right: 5px;
    }

    .star {
        &.filled svg {
            fill: $primary;
        }

        &.editable {
            &:hover {
                cursor: pointer;
            }

            & svg:focus {
                outline: none;
            }

            & svg:focus-visible {
                outline: 2px solid $primary;
            }
        }
    }
}