.search {
    position: relative;

    .input {
        box-sizing: border-box;
        padding-right: 40px;
        width: 100%;
    }

    .button {
        position: absolute;
        right: 3px;
        top: 3px;
        bottom: 3px;
        padding: 8px;
    }
}