html,
body {
	color: $black;
	background: #F5F6F8;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
